<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R3_VillagePeople_Mahtimokit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="R3_VillagePeople_Mahtimokit.Properties.Settings.VP_DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VP_Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <R3_VillagePeople_Mahtimokit.Properties.Settings>
            <setting name="default_office" serializeAs="String">
                <value />
            </setting>
            <setting name="default_history_end_date" serializeAs="String">
                <value>2017-05-15</value>
            </setting>
            <setting name="default_is_history_end_date_today" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="user_name" serializeAs="String">
                <value>Käyttäjä</value>
            </setting>
            <setting name="default_penalty_interest" serializeAs="String">
                <value>8.0%</value>
            </setting>
            <setting name="default_remark_time" serializeAs="String">
                <value>12 pv</value>
            </setting>
            <setting name="default_infobox_1" serializeAs="String">
                <value>Village People
Y-tunnus: 123
www.vpp.fi</value>
            </setting>
            <setting name="default_infobox_2" serializeAs="String">
                <value>tiekatutie 1
29019 tiekatula
</value>
            </setting>
            <setting name="default_infobox_3" serializeAs="String">
                <value>puhelin
040 000 000 00
</value>
            </setting>
            <setting name="default_infobox_4" serializeAs="String">
                <value>Fax
040 1200 00 
</value>
            </setting>
            <setting name="default_infobox_5" serializeAs="String">
                <value>Pankki
ossuus pankki
bleb</value>
            </setting>
            <setting name="default_IBAN" serializeAs="String">
                <value>FI32 1515 1613 13</value>
            </setting>
            <setting name="default_BIC" serializeAs="String">
                <value>FAFIFAFHIFF</value>
            </setting>
            <setting name="default_receiver" serializeAs="String">
                <value>Village peiple ay</value>
            </setting>
        </R3_VillagePeople_Mahtimokit.Properties.Settings>
    </userSettings>
</configuration>