<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R3_VillagePeople_Mahtimokit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="R3_VillagePeople_Mahtimokit.Properties.Settings.VP_DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\VP_Database.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <R3_VillagePeople_Mahtimokit.Properties.Settings>
            <setting name="default_office" serializeAs="String">
                <value />
            </setting>
            <setting name="default_history_start_date" serializeAs="String">
                <value>2017-01-01</value>
            </setting>
            <setting name="default_history_end_date" serializeAs="String">
                <value>2017-04-08</value>
            </setting>
            <setting name="default_is_history_end_date_today" serializeAs="String">
                <value>True</value>
            </setting>
        </R3_VillagePeople_Mahtimokit.Properties.Settings>
    </userSettings>
</configuration>